.box-login {
    background-color: #F97DFF;
    color: white;

}

#img-login {
    width: 20%;
}

#container-login {
    border: red solid 1px;
    background-color: #F97DFF;
    color: white;
}

#login{
    height: 1200px;
    width: 700px;
    text-align: center;
    margin: auto;
}

#form{
    height: 400px;
}

#parte1 {
    align-content: center;
    background-color: #cccccc;
}
#textcolor {
    color: white;
    font-size: 25px;
    font-style: oblique;

}
